//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}

script var user_id = !{JSON.stringify(user_id)}
script var graphics_data = !{JSON.stringify(graphics_data)}

include index.html