<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi tienda</title>
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap-theme.min.css'>

    <script src='jquery/dist/jquery.min.js'></script>
    <script src='bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='d3js/d3.min.js'></script>
    <script src="javascripts/bar_chart_graphic.js"></script>
    <script src="javascripts/line_chart_graphic.js"></script>
    <script src="javascripts/treemap_graphic.js"></script>
    <script src="javascripts/pie_chart_graphic.js"></script>
    <script src="javascripts/index.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/graphics_styles.css" />

</head>
<body data-spy="scroll" data-target="#graphics-titles-container">
<div class="container">
    <h1>Mi Tienda</h1>
    <div id="filters-container" class="row">
        <div id="graphic-type-select-container" class="filter-select-container col-lg-2">
            <span>Graphic type:</span>
            <select id="graphic-type-button">
                <option value="line_chart">Line chart</option>
                <option value="bar_chart">Bar chart</option>
                <option value="pie_chart">Pie chart</option>
                <option value="treemap">Treemap</option>
            </select>
        </div>
        <div id="group-by-select-container" class="filter-select-container col-lg-2">
            <span>Group data by:</span>
            <select id="group-by-select">
                <option value="date_month">Monthly</option>
                <option value="date_year">Yearly</option>
            </select>
        </div>
        <div id="filter-container" class="filter-select-container col-lg-3">
            <span>Filter by:</span>
            <select id="filter-by-select">
                <option value="none">None</option>
                <option value="department">Department</option>
                <option value="payment_type">Payment type</option>
            </select>
            <span id="filter-value-span" style="display:none">With value:</span>
            <select id="filter-value-select" style="display:none">
                <option value="test">test</option>
            </select>
        </div>

        <div id="add-graphic-button-container" class="filter-select-container col-lg-2">
            <button id="add-graphic-button" type="button">Add graphic</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-3" id="graphics-titles-container">
            <ul class="nav nav-tabs nav-stacked" data-offset-top="120" data-spy="affix">
            </ul>
        </div>
        <div id="graphics-container" class="col-sm-9 col-lg-9">
        </div>
    </div>
</div>
</body>
</html>