<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mi tienda</title>
        <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='bootstrap/dist/css/bootstrap-theme.min.css'>

        <script src='jquery/dist/jquery.min.js'></script>
        <script src='bootstrap/dist/js/bootstrap.min.js'></script>
        <script src="javascripts/index.js"></script>

        <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />

    </head>
    <body data-spy="scroll" data-target="#myScrollspy">
    <form class="form-signin" action="/login" method="post">
        <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>
        <!--<label class="checkbox pull-left">-->
            <!--<input type="checkbox" value="remember-me">-->
            <!--Remember me-->
        <!--</label>-->
        <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
    </form>
    </body>
</html>